name: Github Pages Build&Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build next.js app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v3
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
            echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
              ${{ runner.os }}-pnpm-store-

      - run: pnpm install
      - run: pnpm build

      - name: Fix permissions
        run: |
            chmod -c -R +rX "./dist" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
            done
    
      # - uses: actions/configure-pages@v3

      - uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.build.outputs.artifact }}
    steps:
      - uses: actions/deploy-pages@v2
        id: deployment